* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
/* 1 section of NAVBAR */
nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background-color: white;
  z-index: 10;
}
.header1 {
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  padding: 8px 10%;
}
#right-sec {
  color: #666666;
}
.head-sec {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  gap: 6px;
}
#left-sec {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.onee {
  padding: 0px 10px;
  border-right: 1px solid #d9d9d9;
}
.twoo {
  padding: 0px 10px;
  border-right: 1px solid #d9d9d9;
}
.threee {
  padding: 0px 10px;
}
.head-sec span {
  color: #666666;
}

/* 2 section of NAVBAR */
.header2 {
  border: 1px solid #ededed;
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
}
.head-right {
  display: flex;
  align-items: center;
}
.head-right span {
  color: #008ecc;
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: 700;
  padding: 12px;
}
.head-left {
  display: flex;
}
.searchbar {
  display: flex;
  align-items: center;
  background-color: #f3f9fb;
  border-radius: 12px;
  width: 550px;
  padding: 5px 15px;
}

.searchbar input {
  background-color: #f3f9fb;
  border: #f3f9fb;
  width: 507px;
  padding: 10px;
}
.signup {
  padding: 15px;
  border-right: 1px solid #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666666;
}
.cart {
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666666;
}

/* 3 section of NAVBAR  */
.header3 {
  padding: 15px 10%;
  border-bottom: 1px solid #ededed;
  display: flex;
  justify-content: space-between;
}

/* HERO SECTION  */
.card {
  background-color: #212844;
  color: White;
  font-family: sans-serif;
  padding: 30px 5%;
  margin: 20px 10%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: relative;
}
.text-cont h5 {
  font-size: 25px;
  font-weight: 500;
  line-height: 60px;
}
.text-cont h1 {
  font-size: 45px;
  font-weight: 600;
  line-height: 60px;
}
.text-cont h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
}
.img-cont {
  position: relative;
  width: 50%;
  height: 32vh;
  background-image: url(images/blue\ design.png);
  background-repeat: no-repeat;
}
.hero-watch {
  position: absolute;
  left: 8em;
  height: fit-content;
  display: block;
  max-height: auto;
  width: 19vw;
  height: 36vh;
}
.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.right {
  right: -50px;
}
.left {
  left: -50px;
}
/* SMART PHONE SECTION  */
.phones {
  margin: 80px 10%;
}
.phones-head {
  border-bottom: 1px solid #bfbebe;
  display: flex;
  justify-content: space-between;
}
.phones h3 {
  color: #666666;
  border-bottom: 3px solid #008ecc;
}
.phones span {
  color: #008ecc;
}
.view {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.phimg {
  margin: 30px 0px;
  display: flex;
  justify-content: space-evenly;
}

/* TOP CATEGORIES  */
.top-cat {
  margin: 80px 10%;
}
.top-head {
  border-bottom: 1px solid #bfbebe;
  display: flex;
  justify-content: space-between;
}
.top-head h3 {
  color: #666666;
  border-bottom: 3px solid #008ecc;
}
.top-head span {
  color: #008ecc;
}
.view {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.topimg {
  margin: 30px 0px;
  display: flex;
  justify-content: space-evenly;
}
/* ELECTRONICS BRAND  */
.electronics {
  margin: 80px 10%;
}
.elec-brand {
  border-bottom: 1px solid #bfbebe;
  display: flex;
  justify-content: space-between;
}
.electronics h3 {
  color: #666666;
  border-bottom: 3px solid #008ecc;
}
.electronics span {
  color: #008ecc;
}
.view {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.elecimg {
  margin: 30px 0px;
  display: flex;
  justify-content: space-evenly;
}
.elecimg img {
  width: 25vw;
}

/* DAILY ESSENTIALS */
.dailyess {
  margin: 80px 10%;
}
.daily-ess {
  border-bottom: 1px solid #bfbebe;
  display: flex;
  justify-content: space-between;
}
.daily-ess h3 {
  color: #666666;
  border-bottom: 3px solid #008ecc;
}
.daily-ess span {
  color: #008ecc;
}
.view {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.groc-img {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  font-family: Arial, Helvetica, sans-serif;
  color: #666666;
  margin: 30px 0px;
}

.groc1 {
  background-color: #f5f5f5;
  width: 187px;
  height: 208px;
  border-radius: 20px;
  margin: 0px 10px;
}

.groc1 img {
  width: 183px;
  height: 122px;
  display: flex;
  justify-content: space-between;
}
.groc1 h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
  color: #222222;
  display: flex;
  justify-content: center;
}

.groc1 p {
  color: #666666;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
}

/*2 card*/
.groc2 {
  background-color: #f5f5f5;
  width: 187px;
  height: 208px;
  border-radius: 20px;
  margin: 0px 10px;
}

.groc2 img {
  width: 183px;
  height: 122px;
}
.groc2 h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #222222;
  display: flex;
  justify-content: center;
}

.groc2 p {
  color: #666666;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
}

/*3*/
.groc3 {
  background-color: #f5f5f5;
  width: 187px;
  height: 208px;
  border-radius: 20px;
  margin: 0px 10px;
}

.groc3 img {
  width: 183px;
  height: 122px;
}

.groc3 p {
  color: #666666;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
}

.groc3 h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #222222;
  display: flex;
  justify-content: center;
}
/*4*/
.groc4 {
  background-color: #f5f5f5;
  width: 187px;
  height: 208px;
  border-radius: 20px;
  margin: 0px 10px;
}

.groc4 img {
  width: 183px;
  height: 122px;
}

.groc4 p {
  color: #666666;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
}
.groc4 h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #222222;
  display: flex;
  justify-content: center;
}

/*5*/
.groc5 {
  background-color: #f5f5f5;
  width: 187px;
  height: 208px;
  border-radius: 20px;
  margin: 0px 10px;
}

.groc5 img {
  width: 183px;
  height: 122px;
}

.groc5 p {
  color: #666666;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
}
.groc5 h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #222222;
  display: flex;
  justify-content: center;
}

/*6*/
.groc6 {
  background-color: #f5f5f5;
  width: 187px;
  height: 208px;
  border-radius: 20px;
  margin: 0px 10px;
}

.groc6 img {
  width: 183px;
  height: 122px;
}

.groc6 p {
  color: #666666;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
}
.groc6 h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #222222;
  display: flex;
  justify-content: center;
}

/* FOOTER SECTION  */
.footer {
  background-color: #008cdd;
  color: white;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 55px;
  width: 100%;
}
.footer div {
  flex: 1;
  min-width: 250px;
}
.footer h1 {
  margin-bottom: 10px;
  font-size: 55px;
  font-weight: 400;
  line-height: 2;
}
.footer ul {
  list-style: none;
  padding: 0;
}
.footer ul li {
  margin-bottom: 8px;
}
.footer a {
  color: white;
  text-decoration: underline;
  cursor: pointer;

}
.footer a:hover {
  text-decoration: underline;
}
.app-links img {
  width: 120px;
  margin-right: 10px;
  cursor: pointer;
}
.copyright {
  text-align: center;
  padding: 10px;
  background-color: #008cdd;
  color: white;
  width: 119%;
}
/* MEDIA QUERY  */
/* Tablets and larger screens  */
@media (min-width: 768px) and (max-width: 1074px) {
  nav {
    width: 330vw;
    margin: 0%;
  }
  .card {
    width: 250vw;
    height: 40vh;
    padding: 30px 5%;
    margin: 20px 35%;
  }
  .text-cont h5 {
    font-size: 4vw;
  }
  .text-cont h1 {
    font-size: 8vw;
  }
  .text-cont h4 {
    font-size: 5vw;
  }
  .img-cont {
    position: absolute;
    left: 69em;
    height: 49vh;
  }
  .hero-watch {
    width: 45vw;
    height: 48vh;
  }

  .phones {
    margin: 80px 35%;
    width:250vw ;
  }
  .top-cat {
    margin: 80px 35%;
    width:250vw ;
  }
  .electronics {
    margin: 80px 35%;
    width:250vw ;
  }
  .dailyess {
    margin: 80px 35%;
    width:250vw ;
  }
  footer {
    height: 190vh;
    width:250%;
  }
}
@media (min-width: 481px) and (max-width: 640px)