* {
  margin: 0px;
  padding: 0px;
}
/* 1 section of NAVBAR */
nav{
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%;
  background-color:white ;
  z-index: 100;
}
.header1 {
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  padding: 8px 10%;
}
#right-sec {
  color: #666666;
}
.head-sec {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  gap: 6px;
}
#left-sec {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.onee {
  padding: 0px 10px;
  border-right: 1px solid #d9d9d9;
}
.twoo {
  padding: 0px 10px;
  border-right: 1px solid #d9d9d9;
}
.threee {
  padding: 0px 10px;
}
.head-sec span {
  color: #666666;
}

/* 2 section of NAVBAR */
.header2 {
  border: 1px solid #ededed;
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
}
.head-right {
  display: flex;
  align-items: center;
}
.head-right span {
  color: #008ecc;
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: 700;
  padding: 12px;
}
.head-left {
  display: flex;
}
.searchbar {
  display: flex;
  align-items: center;
  background-color: #f3f9fb;
  border-radius: 12px;
  width: 550px;
  padding: 5px 15px;
}

.searchbar input {
  background-color: #f3f9fb;
  border: #f3f9fb;
  width: 507px;
  padding: 10px;
}
.signup {
  padding: 15px;
  border-right: 1px solid #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666666;
}
.cart {
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666666;
}

 /* 3 section of NAVBAR  */
.header3{
  padding: 15px 10%;
  border-bottom: 1px solid #ededed;
  display: flex;
  justify-content: space-between;
}
